<%-include('./userPartials/header')%>



    <%-include('./userPartials/navbar')%>

    <link rel="stylesheet" type="text/css" href="/user_css/homePage.css">


  

  <section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="rounded-4 mb-3 d-flex justify-content-center align-items-center" style="cursor: pointer; overflow: hidden;" id="mainImageContainer">
            <img style="width: 70%; margin: auto;" class="mainImage rounded-4 fit" src="/productImages/<%= productDetailsData.images[0] %>" />
        </div>
        <div class="d-flex justify-content-center mb-3" style="cursor: pointer;">
            <% productDetailsData.images.forEach((data, index) => { %>
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" data-type="image" onclick="changeMainImage('<%= data %>')">
                <img width="60" height="60" class="sub-images rounded-2" src="/productImages/<%= data %>" />
            </a>
            <% }) %>
        </div>
          <!-- <div class="d-flex justify-content-center mb-3" style="cursor: pointer;">
            <% productDetailsData.images.forEach(data => { %>
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2"  data-type="image">
               <img width="60" height="60" class="sub-images  rounded-2" src="/productImages/<%= data %>" />
              </a>
              <% }) %>

          </div> -->
          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h3 class="title text-dark fw-bold">
              <%= productDetailsData.name %>
            </h3>
        
            <div class="my-3">
              <% if (productDetailsData.discountAmount > 0) { %>
                <span class="h5">MRP: <span class="text-success fw-bold"><%= productDetailsData.discountedPrice %>&#8377;</span></span>
                <span class="h5 ms-3 text-muted text-decoration-line-through"><%= productDetailsData.price %>&#8377;</span>
              <% } else { %>
                <span class="h5">MRP: <%= productDetailsData.price %>&#8377;</span>
              <% } %>
            </div>
            
        
            <div class="mb-4">
              <p style="font-size: 15px; color: #646464;"><%= productDetailsData.description %></p>
            </div>
        
            <div class="row">
              <dt class="col-3">Type:</dt>
              <dd class="col-9"><%= productDetailsData.categoryName %></dd>
        
              <dt class="col-3">Color</dt>
              <dd class="col-9"><%= productDetailsData.color %></dd>
        
              <dt class="col-3">Brand</dt>
              <dd class="col-9"><%= productDetailsData.brand %></dd>
            </div>
        
            <hr />
        
            <div class="row mb-4">
              <p class="text-danger mb-2" style="font-size: 14px;" id="sizeErrorMessage"></p>
              <% productDetailsData.variant.sort((a,b) => a.size - b.size).forEach(data => { %>
                <div class="col-1">
                  <div class="size-selector">
                    <div class="size-box">
                      <button class="btn btn-size border border-dark" id="sizeButton" data-quantity="<%= data.quantity %>" data-size="<%= data.size %>" <%= data.quantity < 1 ? 'disabled' : '' %>><%= data.size %></button>
                    </div>
                    <p class="text-danger low-stock-message" style="font-size: 12px; margin-top: 5px;"></p>
                  </div>
                </div>
              <% }) %>
            </div>
        
            <button class="btn btn-dark shadow-0" data-item-id="<%= productDetailsData.id %>" style="padding: 5px 20px; font-weight: 600;" id="addtoCart"><i class="bi bi-cart3 fs-4"></i> ADD TO CART </button>
            <a href="/user-addToWishlist" class="wishlist-fvrte-btn text-decoration-none fs-3 ms-3 shadow-sm mb-5 bg-body rounded-circle" data-item-id="<%= productDetailsData.id %>" id="addToWishlist"><i class="bi bi-heart"></i></a>
          </div>
        </main>
        
      </div>
    </div>
  </section>

  
 



  <style>
    .buy-now{
      padding: 12px 30px;
      font-weight: 600;
      background: transparent;
      border: 1px solid #b3b3b3;
      transition: all 0.3s;
    }
    .buy-now:hover{
      border: 1px solid #000;
      background: transparent;
    }
      .icon-hover:hover {
    border-color: #d80000 !important;
    background-color: white !important;
    color: #d80000 !important;
  }
  
  .icon-hover:hover i {
    color: #d80000 !important;
  }
  .wishlist-fvrte-btn{
    padding: 7px 10px;
    border-radius: 50px;
  }
  </style>


  
  



  <!-- image zoom -->
  

  <script>
    function changeMainImage(imageUrl) {
        const mainImage = document.querySelector('.mainImage');
        mainImage.src = '/productImages/' + imageUrl;
    }

    const mainImageContainer = document.getElementById('mainImageContainer');
    mainImageContainer.addEventListener('mousemove', function(event) {
        const mainImage = document.querySelector('.mainImage');
        const rect = mainImage.getBoundingClientRect();
        const x = event.clientX - rect.left;
        const y = event.clientY - rect.top;
        const ratioX = x / rect.width;
        const ratioY = y / rect.height;
        mainImage.style.transformOrigin = `${ratioX * 100}% ${ratioY * 100}%`;
        mainImage.style.transform = 'scale(1.5)'; // Adjust zoom level as needed
    });

    mainImageContainer.addEventListener('mouseleave', function() {
        const mainImage = document.querySelector('.mainImage');
        mainImage.style.transform = 'none';
    });
</script>


  <!-- image zoom -->






  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Get all buttons with the class 'btn-size'
      var buttons = document.querySelectorAll('.btn-size');

      // Add click event listeners to the buttons
      buttons.forEach(function (button) {
        button.addEventListener('click', function () {
          // Remove 'selected' class from all buttons
          buttons.forEach(function (btn) {
            btn.classList.remove('selected');
          });

          // Add 'selected' class to the clicked button
          button.classList.add('selected');

          // Optionally, you can perform additional actions when a size is selected
          var selectedSize = button.innerText;
        });
      });
    });
  </script>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('addtoCart').addEventListener('click', async function() {
      const selectedSizeElement = document.querySelector('.btn-size.selected');
      const sizeErrorMessage = document.getElementById('sizeErrorMessage');

      if (!selectedSizeElement) {
          // No size selected, show an error message
          sizeErrorMessage.innerHTML = "Please select an available size before adding to cart";
          return; // Stop execution
      } else {
        // Size selected, hide the error message
      sizeErrorMessage.innerHTML = "";

const selectedSize = selectedSizeElement.getAttribute('data-size');
const productId = '<%= productDetailsData.id %>';
const price = '<%= productDetailsData.price - productDetailsData.discountAmount %>'
console.log(price,'ppppppppppppppppp');

try {
    const response = await fetch('/add-to-Cart', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ productId: productId, selectedSize: selectedSize, price: price })
    });

    const responseData = await response.json();

    if (responseData.success) {

        // Show success message using SweetAlert
        await Swal.fire({
            icon: 'success',
            title: 'Item added to cart',
            text: 'The item has been successfully added to your cart.',
            confirmButtonColor: '#28a745',
            confirmButtonText: 'OK',
        });

        // Corrected line to use window.location.href for redirection
        window.location.reload();
    } else {
        console.error('Failed to add item to cart. Response:', responseData);
        // const sizeErrorMessage = document.getElementById('sizeErrorMessage').innerHTML = responseData.quantityCount
        // You can add more specific error handling or logging here
    }
} catch (error) {
    console.error('Error during fetch:', error);
    // Handle fetch error, if any
}
      }

      
    });
  });
</script>




<script>
  $(document).ready(function() {

    $('#addToWishlist').on('click', function(e) {
      e.preventDefault();

      var productId = $(this).data('item-id');
      console.log(productId, 'pppppppppppppp');
      $.ajax({
        url: '/user-addToWishlist',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ productId: productId }),
        success: function(response) {
          if (response.success) {

            // Create the success message element and animation using response message and icon
            var message = $('<div>')
                  .attr('id', 'wishlistSuccessMessage')
                  .html('<i class="fa-solid fa-circle-check" style="color: #0cb800; margin-right: 10px"></i> ' + response.message)  // Use the response message with icon
                  .css({
                    'width': 'max-content',
                    'position': 'fixed',
                    'top': '50px', // Start above the viewport
                    'right': '50%',
                    'left': '50%',
                    'transform': 'translate(-50%, -50%)',
                    'background': '#212121',
                    'color': 'white',
                    'padding': '10px',
                    'border-radius': '5px',
                    'border': '#212121',
                    'box-shadow': '#1px 0 2px 0 rgba(0,0,0,.2)',
                    'z-index': '1000',
                    'display': 'none' // Initially hidden
                  });

              // Append the message to the body
              $('body').append(message);

              // Animate the message
              message.slideDown(300).animate({ top: '120px' }, { duration: 500 });

              // Remove the message after 3 seconds
              setTimeout(function() {
                message.fadeOut(300, function() {
                  message.remove();
                });
              }, 2000);

          } else {
            
            var message = $('<div>')
                  .attr('id', 'wishlistSuccessMessage')
                  .html(response.message || 'User not logined')  // Use the response message with icon
                  .css({
                    'width': 'max-content',
                    'position': 'fixed',
                    'top': '50px', // Start above the viewport
                    'right': '50%',
                    'left': '50%',
                    'transform': 'translate(-50%, -50%)',
                    'background': '#D10000',
                    'color': 'white',
                    'padding': '10px',
                    'border-radius': '5px',
                    'border': '#D10000',
                    'box-shadow': '#1px 0 2px 0 rgba(0,0,0,.2)',
                    'z-index': '1000',
                    'display': 'none' // Initially hidden
                  });

              // Append the message to the body
              $('body').append(message);

              // Animate the message
              message.slideDown(300).animate({ top: '120px' }, { duration: 500 });

              // Remove the message after 3 seconds
              setTimeout(function() {
                message.fadeOut(300, function() {
                  message.remove();
                });
              }, 2000);

              
          }
        },
        error: function(xhr, status, error) {
          console.error('Error:', error);
        }
      });
    });
  });
</script>


















  
  
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var mainImage = document.querySelector('.mainImage');
      var subImages = document.querySelectorAll('.sub-images');

      // Set the initial source of mainImage
      mainImage.src = subImages[0].src;

      subImages.forEach((image, index) => {
        image.addEventListener('click', function () {
          // Change the source of mainImage based on the clicked image
          mainImage.src = this.src;
        });
      });

      // Change the mainImage when clicked inside mainImage container
      mainImage.addEventListener('click', function () {
        // Increment the current index
        currentIndex = (currentIndex + 1) % subImages.length;

        // Change the source of mainImage
        mainImage.src = subImages[currentIndex].src;
      });
    });
</script>

  
  



<!-- when button click show the quantity left -->

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const sizeButtons = document.querySelectorAll('.btn-size');
  
    sizeButtons.forEach(button => {
      button.addEventListener('click', function() {
        const quantity = parseInt(this.getAttribute('data-quantity'));
        const lowStockMessage = document.querySelector('.low-stock-message');
        // Check if quantity is less than 4
        if (quantity < 4) {
          lowStockMessage.textContent = `${quantity} Stock left`;
        } else if (quantity < 1) {
          lowStockMessage.textContent = 'Out of stock';
          return
        } else {
          lowStockMessage.textContent = ''; // Clear the message if quantity is sufficient
        }
      });
    });
  });
  </script>
  




<%-include('./userPartials/footer')%>
