<%-include('./userPartials/header')%>



    <%-include('./userPartials/navbar')%>

       
<link rel="stylesheet" type="text/css" href="/user_css/homePage.css">

 <style>


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:300,400');

body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

.container {
  width: 100%;
  padding: 40px 0px 40px 0px;
}

.wallet {
  margin: 0 auto;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding-bottom: 20px;
  max-width: 900px;
  min-width: 800px;
}


.right-trans {
  background-color: #FFFFFF;
  width: 100%;
  height: initial;
  padding: 25px 40px;
  border-radius: 5px;
  display: flex;
  justify-content: end;
}

h1 {
  color: #7d818e;
  margin-right: 20px;
  font-weight: 400;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.right-trans h1,
.right-trans #balance {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
}

#balance {
  line-height: 34px;
  font-size: 30px;
  font-weight: 600;
  color: green;
}

        </style>
    


    <div class="container">
      <h2 style="margin: 0.5em 4em; color: #000; font-weight: bold;">My Wallet</h2>
      <% if (User && User.wallet) { %>
      <div class="wallet  bg-light">
        <content class="right-trans bg-white">
          <h1> Current Balance: </h1>
          <h4 id="balance"><%= User.wallet.balanceAmount.toLocaleString('en-US') %><span>&#8377</span></h4>
        </content>
        <hr style="width: 90%; border: 1px solid #000; margin: auto;">
        <!-- <h5 class="mx-5 mt-2 fw-bold">History</h5> -->
        <div class="row header mt-3">
          <div class="col-sm-5"><p class="fw-bold text-center">Description</p></div>
          <div class="col-sm-3"><P class="fw-bold text-center">Date</P></div>
          <div class="col-sm-2"><p class="fw-bold text-center">Transaction type</p></div>
          <div class="col-sm-2"><p class="fw-bold text-center">Amount</p></div>
        </div>
        <div class="wallet-history mt-4">
           <% User.wallet.transaction.forEach(data => { %>
            <div class="row my-3">
              <div class="col-sm-5">
                <p class="mb-0 text-center"><%= data.description %></p>
              </div>
              <div class="col-sm-3">
                <p class="mb-0 text-center"><%= data.timestamp.toISOString().substring(0, 10) %></p>
              </div>
              <% if (data.transactionType === "credit") { %>
                <div class="col-sm-2 text-success">
                  <p class="mb-0 text-center"><%= data.transactionType %></p>
                </div>
               <div class="col-sm-2">
                <p class="text-center"><%= data.amount.toLocaleString('en-US') %><span>&#8377</span></p>
              </div>
              <% } else { %>
                <div class="col-sm-2 text-danger">
                  <p class="mb-0 text-center"><%= data.transactionType %></p>
                </div>
                <div class="col-sm-2">
                  <p class="text-center"><%= data.amount.toLocaleString('en-US') %><span>&#8377</span></p>
                </div>
              <% } %>
            </div>
            <hr>
           <% }) %>
          </div>
        </div>
        <% } %>
    </div>
  
    
    <%-include('./userPartials/footer')%>